{% extends "layout.html" %}

{% block body %}

    <h3>Makaleler</h3>
    <hr>

    {% if articles %}

      {% for article in  articles %}
        <div class="card">
          <div class="card-header">
            {{article.author}}
          </div>
          <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.content}}</p> <br><br>
          </div>
        </div>
      {% endfor %}

    {% else %}

      <div class="alert alert-danger" role="alert">
        Yayınlanmış herhangi bir makale bulunmadı!
      </div>

    {% endif %}

{% endblock body %}