{% extends "layout.html" %}

{% block body %}

<h3>Kontrol Paneli</h3>
<small>Hoşgeldin, {{session["username"]}} </small>
<hr>

<div class="card">
  <div class="card-header">
  <a href="/addarticle" class="btn btn-success">Makale Ekle</a> <a href="/addarticle" class="btn btn-success">Makale Ekle</a> <br>
  </div>
  <div class="card-body">
      <a href="/addarticle" class="btn btn-success">Makale Ekle</a> <br>
  </div>
</div>

{% if articles %}

  <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Başlık</th>
          <th scope="col">Tarih</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      {% for article in articles %}
      <tbody>
        <tr>
          <th scope="row">{{article.id}}</th>
          <td>{{article.title}}</td>
          <td>{{article.created_date}}</td>
          <td><a href="/viewarticle/{{article.id}}" class="btn btn-success">Görüntüle</a></td>
          <td><a href="/editarticle/{{article.id}}" class="btn btn-primary">Düzenle</a></td>
          <td><a href="/deletearticle/{{article.id}}" class="btn btn-danger">Sil</a></td>
        </tr>
      </tbody>
    </table>
    {% endfor %}

{% else %}

  <div class="alert alert-danger" role="alert">
  Yayınlanmış makaleniz bulunmuyor.
  </div>

{% endif %}



{% endblock body %}

